* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#clouds {
  padding: 100px 0;
}
.cloud {
  width: 200px;
  height: 60px;
  background: rgb(77, 77, 77);

  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;

  position: relative;
}

.cloud:before,
.cloud:after {
  content: "";
  position: absolute;
  background: rgb(77, 77, 77);
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;

  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;

  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

.x1 {
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

.x2 {
  left: 200px;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.x3 {
  left: -250px;
  top: -200px;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;

  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}
.x4 {
  left: 470px;
  top: -250px;

  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;

  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}
.x5 {
  left: -150px;
  top: -150px;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;

  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1500px;
  }
  100% {
    margin-left: -1000px;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 1500px;
  }
  100% {
    margin-left: -1000px;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 1500px;
  }
  100% {
    margin-left: -1000px;
  }
}

.blue-fish1 img {
  width: 30px;
  animation: swim 12s linear infinite;
}

.blue-fish2 img {
  width: 24px;
  animation: swim 10s linear infinite;
}

.blue-fish3 img {
  width: 28px;
  animation: swim 11s linear infinite;
}

.pink-fish1 img {
  width: 20px;
  animation: swim2 18s linear infinite;
}

.pink-fish2 img {
  width: 25px;
  animation: swim2 20s linear infinite;
}

.pink-fish3 img {
  width: 30px;
  animation: swim2 16s linear infinite;
}

.yellow-fish1 img {
  width: 35px;
  animation: swim2 16s linear infinite;
}

.yellow-fish2 img {
  width: 40px;
  animation: swim2 18s linear infinite;
}

.whale img {
  width: 300px;
  animation: whale-swim 25s linear infinite;
}

@keyframes swim {
  100% {
    transform: translateX(calc(100vw));
  }
}

@keyframes swim2 {
  0% {
    transform: translateX(calc(100vw));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes whale-swim {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateX(50vw) translateY(-500%);
  }
  75% {
    transform: translateX(75vw) translateY(-350%);
  }
  100% {
    transform: translateX(100vw) translateY(-100%);
  }
}

html,
body {
  height: 100%;
}
body {
  background: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%);
  overflow: hidden;
}

.ocean {
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: hsl(193, 98%, 22%);
  opacity: 0.65;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
}

.boat {
  animation: boat 3s linear infinite;
  background-repeat: no-repeat;
  bottom: -183px;
  height: 600px;
  left: 18%;
  position: absolute;
  width: 250px;
}

@keyframes boat {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
